* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background: whitesmoke;
}

header {
    padding: 10px 15px;
    color: black;
    background-color: grey;
    position: sticky;
    top: 0;
}


#title {
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 4px;
    padding-right: 70px;
    color: whitesmoke;
}

.navbar .active {
    background: whitesmoke;
    color: grey;
    border-radius: 15px;
}

.navbar a:hover {
    opacity: 100%;
}


.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

input {
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    transition: .8s;
    margin: 5px;
}

input[type="text"] {
    width: 300px;
    background: whitesmoke;
    border: 1px grey solid;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: grey;
    font-size: 14px;
}

input[type="number"] {
    width: 300px;
    background: whitesmoke;
    border: 1px grey solid;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: grey;
    font-size: 14px;
}

input[type="submit"] {
    background: whitesmoke;
    border: 1px grey solid;
    outline: none;
    padding: 5px 20px;
    font-weight: bolder;
    color: grey;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: 1.5px;
}

input[type="submit"]:hover {
    color: whitesmoke;
    background: grey;
    cursor: pointer;
}

.box {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.box table {
    margin-top: 10%;
}

.box table td {
    font-weight: bolder;
    color: grey;
    font-size: 14px;
}

.button:hover {
    cursor: pointer;
    color:whitesmoke !important;
}
.button{
    color: grey;
    padding: 2px;
    margin-right: 5px;
    font-size: 20px;
}


.display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.display-container {
    position: relative;
}

.pale-green {
    color: grey;
    background-color: #ddffdd !important;
}

.pale-red {
    color: grey;
    background-color: #ffdddd !important;
}

.panel {
    margin-top: 10px;
    padding: 1px;
    letter-spacing: 1.5px;
    font-weight: 500;
    width: 100%;
    font-size: 12px;
}
p {
    margin-left: 20px;
}