* {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    background: whitesmoke;
}
.navbar-toggler:focus, .close:focus {
    outline: none;
}
.navbar a {
    font-weight: bold;
}
input {
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    transition: 1s;
    margin: 5px;
}
input[type="text"] {
    width: 300px;
    background: whitesmoke;
    border: 1px #343A40 solid;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #343A40;
    font-size: 14px;
}
input[type="number"] {
    width: 300px;
    background: whitesmoke;
    border: 1px #343A40 solid;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #343A40;
    font-size: 14px;
}
input[type="date"] {
    width: 300px;
    background: whitesmoke;
    border: 1px #343A40 solid;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #343A40;
    font-size: 14px;
}
input[type="submit"] {
    background: whitesmoke;
    border: 1px #343A40 solid;
    outline: none;
    padding: 5px 20px;
    font-weight: bolder;
    color: #343A40;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: 1.5px;
}
input[type="submit"]:hover {
    color: whitesmoke;
    background: #343A40;
    cursor: pointer;
}
.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
}
.container table {
    margin-top: 20px;
}
.container table tr{
    margin-bottom: 15px;
}
.container table td {
    font-weight: bolder;
    color: #343A40;
    font-size: 14px;
}
select {
    width: 300px;
    background: whitesmoke;
    border: 1px #343A40 solid;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #343A40;
    font-size: 14px;
    margin: 5px;
}

.result {
    padding: 15px;
}
.result table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.result th {
    text-transform: uppercase;
    text-align: center;
}
.result td{
    cursor: pointer;
}
.result tr:hover{
    font-weight: bold;
}
.result td, .result th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.result tr:nth-child(even) {
    background-color: #dddddd;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}